<!DOCTYPE html>
<html>
<head>

	<title>Mic Test</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

	<!-- My AngularJS Files -->
	<script type="text/javascript" src="javascript/app.js"></script>
	<script type="text/javascript" src="javascript/ArticleController.js"></script>

	<!-- ngtimeago -->
	<script type="text/javascript" src="javascript/ngtimeago.js"></script>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="style/style.css">

</head>
<body ng-app="MicApp">

<div class="container" ng-controller="ArticleController">

	<div>
		<table class="table table-bordered table-striped">
			<tr id="header">
				<th>UNPUBLISHED ARTICLES ({{articles.length}})</th>
				<th>AUTHOR</th>
				<th class='sortable' ng-click="sort('words')">WORDS</th>
				<th class='sortable' ng-click="sort('publish_at')">SUBMITTED</th>
			</tr>
			<tr ng-repeat="article in articles | limitTo:articlesToLoad | orderBy:sortVariable:sortDirection">
				<td>
					<div class="thumb pull-left" ng-style="{'background-image': 'url(' + article.image + ')'}"></div>
					<a href="{{article.url}}" target="_blank">{{article.title}}</a>
				</td>
				<td>
					<p class='bigMargin'>{{article.profile.first_name}} {{article.profile.last_name}}</p>
				</td>
				<td class='text-center'>
					<p>{{article.words}}</p>
				</td>
				<td class='text-center'>
					<p>{{article.publish_at | timeago}}</p>
				</td>
			</tr>
		</table>	
	</div>

	<div class="row">
		<div class="col-sm-12 text-center">
			<button class='btn' ng-hide="allArticlesLoaded" ng-click='loadmore()'>Load More!</button>
			<p ng-show="allArticlesLoaded">No more articles to load :)</p>
		</div>
	</div>

</div>

</body>
</html>