table {
	font-family: 'Montserrat', sans-serif;
}

.sortable {
	cursor: pointer;
}

.container {
	margin-top: 75px;
	margin-bottom: 75px;
}

td {
	padding: 8px;
}

.thumb {
	height: 50px;
	width: 50px;
	margin-right: 10px;
}

td p {
	margin: 0px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tbody > tr > a {
    vertical-align: middle;
}

.bigMargin {
	margin-left: 15px
}

th {
	height:65px;
}